:root {
  --color-charcoal: #4d5264;
  --color-baby-blue: #7eb6d7;

  --color-mindaro: #ceec97;
  --color-peach: #f4b393;
  --color-hot-pink: #fc60a8;
  --color-french-violet: #7a28cb;
  --color-english-violet: #494368;
  --list-text-color: #fefefe;

  --color-smooth-red: #f06c57;
  --color-smooth-orange: #ff9f5b;
  --color-smooth-yellow: #f2c762;
  --color-smooth-green: #94ab5b;
  --height-input: 48px;
}

@keyframes item {
  from {
    width: 0;
    color: transparent;
  }
  to {
    width: 100%;
    color: black;
  }
}

@keyframes item-winner {
  from {
    width: 0;
    color: transparent;
  }
  to {
    width: 100%;
    color: var(--list-text-color);
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  justify-items: center;
  background-color: var(--color-charcoal);
  color: var(--list-text-color);
  font-family: "Open Sans", sans-serif;
}

header {
  position: fixed;
  display: grid;
  width: 100%;
  max-width: 550px;
  background-color: var(--color-charcoal);
  padding: 0 25px 0 25px;
}

.container {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: auto;
}

.logo {
  width: 100%;
  height: auto;
}

.input-wrapper {
  display: grid;
  grid-template-columns: auto 100px var(--height-input);
}

.input-wrapper.error {
  border: 2px solid red;
}

button {
  border: 1px dashed var(--list-text-color);
  border-left: none;
  color: var(--list-text-color);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  height: var(--height-input);
  font-family: "Open Sans", sans-serif;
}

button:hover:not(:disabled) {
  background-color: var(--list-text-color);
  color: var(--color-charcoal);
}

.refresh-button {
  font-weight: 400;
  font-size: 32px;
  display: grid;
  align-content: center;
  font-family: monospace;
}

.input {
  color: var(--list-text-color);
  background-color: transparent;
  font-size: 37px;
  padding: 10px;
  outline: none;
  width: 100%;
  height: var(--height-input);
  border: 1px dashed var(--list-text-color);
  font-family: "Open Sans", sans-serif;
}
.input.error {
  color: red;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.error-message {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  grid-column: span 3;
  text-align: center;
  margin: 0;
  padding: 8px;
  font-weight: 600;
}
.error .error-message {
  color: white;
  background-color: red;
}
ul {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  list-style-type: none;
  margin-top: 180px;
  padding: 0;
  color: black;
}
li {
  height: var(--height-input);
  line-height: 1.7em;
  padding: 10px;
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1ex;
  font-weight: 500;
  animation-name: item;
  animation-duration: 300ms;
}

li .try-value {
  font-weight: 700;
  font-size: 27px;
}

.cercania-0 {
  background-color: var(--color-smooth-red);
}
.cercania-1 {
  background-color: var(--color-smooth-orange);
}
.cercania-2 {
  background-color: var(--color-smooth-yellow);
}
.cercania-3 {
  background-color: var(--color-smooth-green);
}
.ganaste {
  background-color: black;
  color: var(--list-text-color);
  animation-name: item-winner;
  animation-duration: 300ms;
}
@media screen and (max-width: 720px) {
  .container {
    margin-bottom: 40vh;
  }
}
